/* Estilos generales */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: #211294;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  text-align: center;
  display: block;
  padding: 70px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  }
/* Estilos para el logo en el encabezado */
header img {
  width: 800px; 
  height: auto; 
  margin-bottom: 1px;
  border-radius: 8px;
  
}
/* Estilos para el menú desplegable */
.menu-desplegable {
  position: relative;
  display: inline-block;
}

.btn-menu {
  background-color: #211294;
  color: #fff;
  border: whitesmoke;
  padding: 5px 10px;
  cursor: pointer;
  
}

.menu-contenido {
  display: none;
  position: absolute;
  background-color: #21129456;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.menu-contenido p {
  padding: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12;
}

.menu-contenido a {
  display: block;
  padding: 10px;
  color: #211294;
  text-decoration: none;
}

.menu-contenido a:hover {
  background-color: whitesmoke;
  
}

/* Estilos para los enlaces "Resolución" y "Inscribirse" */
.carrera .contenido button {
  display: inline-block; /* Alinea los botones en línea */
  margin-right: 10px; /* Espacio entre los botones */
}

main {
  padding: 1rem;
}

footer {
  background-color: #211294;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
}
footer img {
  width: 70px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: auto; /* Esto mantiene la proporción de aspecto original */
  margin: 5px; /* Agrega margen alrededor de la imagen */
  text-align: right;
  border-radius: 8px;

}
/* Estilos para los bloques de carreras */
.carrera {
  background-color: #211294;
  border: 1px solid #ddd;
  display: flex; /* Usa el modelo de caja flexible para alinear elementos */
  align-items: center; /* Centra verticalmente los elementos */
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px; /* Espacio entre cada bloque de carrera */
  color: white;
  border-radius: 8px;
}
.carrera .imagenPequena {
  width: 400; /* Ajusta el ancho de la imagen pequeña según tus preferencias */
  height: auto; /* Esto mantiene la proporción de aspecto original */
  margin-right: 5px; /* Espacio entre la imagen y el contenido de la carrera */
}
.carrera .contenido {
  flex: 1; 
}/* Ocupa el espacio restante disponible en el contenedor */

/* Estilos para el título de la carrera */
.titulo {
  margin-left: 8px;
  margin-right: 8px;
  text-align: justify left;
  color: #ddd;
  font-size: 18px;
}

/* Estilos para el párrafo de descripción de la carrera */
.descripcion {
  margin-left: 8px;
  margin-right: 8px;
  text-align: justify right;
  color: #ddd;
  font-size: 14px;
}

/* Estilos para los enlaces "Resolución" y "Inscribirse" */
.resolucion {
  display: inline-block; /* Alinea los enlaces en línea */
  margin-right: 5px; /* Espacio entre los enlaces */
  margin-left: 5px;
  border-radius: 12px;
  color:#211294;
  
}

.formulario {
  display: inline-block; /* Alinea los enlaces en línea */
  margin-right: 5px; /* Espacio entre los enlaces */
  margin-left: 5px;
  border-radius: 12px;
  color:#211294;
}
